/*
Custom css for Serveis Ecosistemics de Catalunya App
*/

input[type="number"] {
  max-width: 80%;
}

/*
div.table_container {
  overflow-y: scroll;
}
*/

/* debug */
#debug {
  z-index: 1500;
}

/* language selector */
.navbar-form {
  margin-top: 5px;
  margin-bottom: 0px;
}

/* we need to change the leaflet layer control z-index */
.navbar-static-top {
  z-index: 2000 !important;
}

.navbar-form > .form-group {
  position: fixed;
  right: 25px;
}

.flag-lang {
  display: inline;
  vertical-align: middle;
  padding-left: 10px;
}

.flag-image {
  border-radius: 50%;
}

.shiny-output-error-drawed_polygon_warn {
  color: red;
}

/* position of the modal */
div.modal-dialog {
  position: relative;
  top: 300px;
}

/* table body */
table.dataTable tbody tr {
  background-color: var(--main-bg-color) !important;
  color: black;
}
